body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100vh;
}

.app-container {
  height: 100%;
  position: relative;
}

/* --- Map Styles --- */
.leaflet-container {
  height: 100%;
  width: 100%;
}

/* --- Custom Cluster Icon Style --- */
.custom-marker-cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  background-color: #3d9dff;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border: 2px solid white;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}